customer-details/src/main/app/stub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="stubFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="requestQueue" connector-ref="VM" doc:name="VM"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message metadata:id="2cca0bcf-5c13-48e1-864e-3445c0da76df" doc:name="Transform Message">
           
            <dw:set-variable variableName="customerId"><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.w3.org/2003/05/soap-envelope/
%namespace ns1 https://www.mydomain.com/customers
---
payload.ns0#Envelope.ns0#Body.ns1#GetDetails.ns1#Customer as :string]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[flowVars.customerId.matches('^[0-9]+$')]">
                <dw:transform-message metadata:id="b1bdfdf9-29e4-4165-a911-97b847b11c92" doc:name="Transform Message">
                    <dw:input-payload mimeType="application/xml"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.w3.org/2003/05/soap-envelope/
%namespace ns1 http://www.example.org/customerManagementSystem
%namespace ns02 https://www.mydomain.com/customers
---
{
	ns0#Envelope: {
		ns0#Body: {
			transactionStatus: {
				success: "true"
			},
			ns1#CustomerDetails: {
				customer: {
					accountDetails: {
						element: {
							accountNumber: "7832743280",
							accountStatus: "Active",
							accountType: "Savings"
						}
					},
					correspondanceDetails: {
						address1: "123",
						address2: "XVY",
						city: "Pune",
						state: "MH"
					},
					customerId: flowVars.customerId,
					personalDetails: {
						age: 23,
						gender: "M",
						id: 72420398,
						maritalStatus: "Single",
						name: "customerName"
					}
				}
			}
		}
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message metadata:id="df757f8d-bdc4-42d9-bd37-8f8534d14638" doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.w3.org/2003/05/soap-envelope/
---
{
	ns0#Envelope: {
		ns0#Body: {
			transactionStatus: {
				success: "false",
				errorDetails: {
					errorDescription: "Error Processing Request. Invalid Customer ID"
				}
			}
		}
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Returning payload as #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
